/* 注册页面CSS */


@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?p374l7');
  src: url('../fonts/icomoon.eot?p374l7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p374l7') format('truetype'),
    url('../fonts/icomoon.woff?p374l7') format('woff'),
    url('../fonts/icomoon.svg?p374l7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.w {
  width: 1200px;
  margin: 0 auto;
}

.style_red {
  color: #c81623;
}

/* header 头部区域 start */
.header {
  height: 84px;
  border-bottom: 2px solid #b1191a;
}

.header .logo img {
  width: 172px;
  padding-top: 16px;
}

/* header 头部区域 end */

/* registerarea 主体区 start */
.registerarea {
  height: 522px;
  margin-top: 21px;
  border: solid 1px #dfdfdf;
}

/* 注册新用户 */
.registerarea h3 {
  height: 41px;
  padding: 0 10px;
  background-color: #ececec;
  border-bottom: solid 1px #dddddd;
  font-weight: 400;
  line-height: 41px;
}

.registerarea h3>a {
  float: left;
  font-size: 18px;
}

.registerarea h3 .login {
  float: right;
  font-size: 14px;
}

/* reg_form 注册页面主体 */

.reg_form {
  width: 600px;
  margin: 54px auto 0;
}

.reg_form ul li label {
  display: inline-block;
  width: 88px;
  text-align: right;
}

.reg_form ul li .inp {
  width: 240px;
  height: 36px;
  margin-top: 20px;
  border: solid 1px #999999;
}

/* 提示信息 */

/* 错误 */
.error {
  color: #df3033;
}

/* 正确 */
.success {
  color: #40b83f;
}

.error::before,
.success::before {
  display: inline-block;
  margin-top: -3px;
  padding: 0 4px 0 10px;
  font-family: 'icomoon';
  font-size: 20px;
  line-height: 36px;
  vertical-align: middle;
}

.error::before {
  content: '\e9cc';
}

.success::before {
  content: '\e9ca';
}

/* safe 密码安全程度提示 */
.safe {
  padding-left: 160px;
  margin-top: 10px;
}

.safe em {
  padding: 0 12px;
  margin-right: 1px;
  color: #fff;
}

.safe em:first-child {
  margin-left: 9px;
}

.safe .ruo {
  background-color: #de1111;
}

.safe .zhong {
  background-color: #40b83f;
}

.safe .qiang {
  background-color: #f79100;
}

/* agree 同意注册协议 */
.agree {
  margin-top: 42px;
  padding-left: 89px;
}

.agree span {
  vertical-align: middle
}

.agree input {
  margin-right: 12px;
  vertical-align: middle
}

.agree span a {
  color: #1ba1e6;
}

/* submit_btn 完成注册按钮 */
.submit_btn {
  width: 200px;
  height: 34px;
  margin-top: 51px;
  margin-left: 105px;
  background-color: #c81623;
  font-size: 14px;
  color: #fff;
}

/* registerarea 主体区 end */

/* mod_copyright 版权模块 */
.mod_copyright {
  padding-top: 21px;
  text-align: center;
}

.mod_copyright .links {
  margin-bottom: 14px;
  line-height: 28px;
}

.links a {
  padding: 0 1em;
  border-right: 1px solid #999;
}

.links a:last-child {
  border: 0;
}

.mod_copyright .copyright {
  line-height: 20px;
}